.exercise-sets {

}
.exercise-sets__set {
  display: flex;
  flex-direction: row;
}
.exercise-sets__set-count {
  font-size: 2rem;
  line-height: 2.5rem;
  flex: 1;
}
.exercise-sets__selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.exercise-sets__selector-value {
  font-size: 2rem !important;
}
.exercise-sets__input {
    flex: 1;
    margin: 0 15px !important;
}
.exercise-sets__counter-action {
    min-width: 40px;
}